# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

*.ipch
*.ilk
*.obj

# Fortran module files
*.mod
*.smod

*.pdb
*.idb
*.cap
*.log
*.recipe
*.res
*.natvis
*.enc
*.bin
*.v2
*.vsidx
*.db-shm
*.db
*.db-val
*.opendb


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
